/*-- scss:defaults --*/

$nav-tabs-border-color: black;
$nav-tabs-border-width: 2px;
$nav-tabs-link-active-border-color: black;

/*-- scss:rules --*/
table, th, td {
  border: 1px solid black;
  padding: 7px;
  text-align: left;
}

.bi-filetype-pdf {
  font-size: 3.5rem; 
  color: cornflowerblue;
}

.dropdown-item {
  color: #808080;
}

h1.title, .title.h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2.5em;
}

.nav-tabs .nav-links {
  font-style: italic;
  font-weight: 900;
  font-size: medium;
  nav-tabs-border-color: black;
  nav-tabs-border-width: 2px;
  border-bottom: black;
}

.sidebar-navigation {
  padding-left: 10px;
  margin: 0px;
  max-width: 125px;
}

.hr-dark {
    margin: 1rem 0;
    color: black;
    border: 2px;
    border-top: 2px dashed;
    opacity: 0.75;
}

/*.sidebar-navigation li a {
    text-decoration: none;
    position: relative;
}*/

/*  --bs-nav-tabs-border-width: 2px;
  --bs-nav-tabs-border-color: black;
  --bs-nav-tabs-link-hover-border-color: black;
  --bs-nav-tabs-link-active-border-color: black;*/
  
