/*-- scss:defaults --*/

$nav-tabs-border-color: black;
$nav-tabs-border-width: 2px;
$nav-tabs-link-active-border-color: black;

/*-- scss:rules --*/

table, th, td {
  border: 1px solid black;
  padding: 7px;
  text-align: left;
}

/*https://stackoverflow.com/questions/17584132/css-styling-for-all-cells-in-a-table*/
#tabset-1-2 p, ul {
  margin-bottom: 0.3rem;
}

.bi-filetype-pdf {
  font-size: 3.5rem; 
  color: cornflowerblue;
}

.dropdown-item {
  color: #808080;
}

h1.title, .title.h1 {
    margin-top: 0;
    text-align: center;
    font-size: 2.5em;
}

.nav-tabs .nav-links {
  font-style: italic;
  font-weight: 900;
  font-size: medium;
  border-bottom: black;
}

#data-viz .nav-link.active {
    display: block;
    font-weight: 900;
    font-size: 1.2em;
}


.sidebar-navigation {
  padding-left: 1px;
  margin: 0px;
  /*max-width: 125px;*/
}

.hr-dark {
    margin: 1rem 0;
    color: black;
    border: 2px;
    border-top: 2px dashed;
    opacity: 0.75;
}

.details {
  color: cornflowerblue;
  padding-inline-start: 40px;
}

// .collapse-details {
//   margin: 1rem 0;
// }

/*.sidebar-navigation li a {
    text-decoration: none;
    position: relative;
}*/

