/*-- scss:defaults --*/

/*https://ucsb-meds.github.io/customizing-quarto-websites/#/select-attributes
*/

/*-- scss:rules --*/

table, th, td {
  border: 1px solid white;
  padding: 15px;
  text-align: left;
}
